@use "./variables" as *;

header {
    #strip {
        background-color: $accenture;
        color: $light;
    }
    li {
        font-size: 0.9rem !important;
        color: $dark !important;
        position: relative; // to use the active class
        padding: 2rem 0;
        a {
            text-transform: uppercase;
        }
    }
    .search_box {
        border-bottom: 4px solid $accenture;
    }

    .active {
        color: $accenture !important;
    }

    .active:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 6px;
        width: 100%;
        background-color: $accenture;
    }
    /* webkit solution */
    ::-webkit-input-placeholder {
        text-align: right;
        font-weight: bold;
    }
    /* mozilla solution */
    input:-moz-placeholder {
        text-align: right;
    }
}
